h1 {
  font-family: impact;
  font-size: 200px;
  color: #f78ff7;
  text-align: center;
  letter-spacing: 20px;
}

.fancy {
  color: #0ba6b7;
  font-family: monospace;
  font-size: 15px;
}

.intro img {
  width: 30%;
}

.pressure {
  width :300px;
  float: right;
  background: #0ba6b7;
}

p.happy {
  width :500px;
}

.wings {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
}

#unique {
  font-size: 30px;
  font-family: monospace;
}
