h1 {
  font-family: impact;
  font-size: 200px;
  color: #f78ff7;
}

.fancy{
  color: #0ba6b7;
  font-family: monospace;
  font-size: 15px;
}

.intro img {
  width: 30%;
}

.pressure {
  width :300px;
  float: right;
  background: #0ba6b7;
}

.happy {
  width :500px;
  height: 300px;
}

h2 .wings{
  font-family: sans-serif
  ont-weight: bold;
  font-size: 20px;
}
