 h1 {
  font-family: impact;
  font-size: 200px;
  color: #f78ff7;
  text-align: center;
  letter-spacing: 20px;
}

.fancy {
  color: #0ba6b7;
  font-family: monospace;
  font-size: 15px;
}

.intro img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pressure {
  width :300px;
  float: right;
  background: #0ba6b7;
}

p.happy {
  width :500px;
}

.happy a {
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
  color: #0ba6b7;
}

.wings {
  font-family: impact;
  font-weight: bold;
  font-size: 40px;
}

#unique {
  font-size: 30px;
  font-family: monospace;
  color: #f78ff7;
}

.waterfall {
  text-align: center;
  width: 600px;
  margin: 15px;
  border: 5px #f78ff7;
  padding: 5px;
  background: linear-gradient(#f78ff7, #0ba6b7);
}

body {
  font-family: sans-serif;
}

.family h3 {
  font-style: italic;
  font-weight: bold;
  color: #f78ff7
}

.lost {
  text-align: center;
}
